<h1>TestTask. Personal income/expense tracking application.</h1>

<p>The requirements for the small website:</p>
<p>1. Create a simple website using Ruby on Rails framework, latest available version. The purpose of the website is to keep personal incomes and expenses.</p>
<p>2. Use MySQL or SQLite or Postgres.</p>
<p>3. Use a modern CSS framework like Twitter Bootstrap or Foundation 4 to make the website look nice without having to invest a lot of time in design.</p>
<p>4. The website should have the following features:<br />a. Multi-user support.<br />b. Simple registration/login/logout functionality: use Devise gem.<br />c. Add/Edit/Remove expense category. Each category should belong to a given user: categories are not shared between different users.<br />d. Add/Edit/Remove income category.</p>
<p>e. Add/Edit/Remove expense.<br />f. Add/Edit/Remove income.</p>
<p>g. <%= link_to 'Simple report', new_report_path %> of all expenses and incomes with the ability to search by category and by date period.</p>
<p><br />5. Follow Ruby coding style: https://github.com/bbatsov/ruby-style-guide<br />6. Follow Rails coding guide: https://github.com/bbatsov/rails-style-guide<br />(Optional, but would be cool to have) Deploy the application on Heroku - a free cloud hosting for Rails.</p>